<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Product Detail' }) %>

    <body class="productDetail">
        <div class="home-box">

            <%- include('partials/header') %>

        </div>

        <main class="productDetail__main">
        
            <main class="detalle__main">
                <div class="row">
                    <div class="col-6 col-md-6 col-lg-8 mx-auto mt-5">
                        <div class="d-flex justify-content-center">
                            <div class="row">
                                <div class="container__detailProduct gap-3">
                                    <div class="d-flex flex-column gap-1 container__detailProduct">
                                        <img id="main-image" src="/images/products/<%= image %>" class="img-fluid  animate__animated animate__flipInX" alt="...">

                                          
                                        </div>
                                    </div>
        
                                </div>
                                <div class="col-12 col-md-7">
                                    <div class="card-body imagen__description">
                                        <small class="fs-4"><%= category.brand %></small><h2 class="card-title"><%= model %></h2>
                                        <hr>
                                        <p class="fs-4 card-text"><%= description %></p>
                                        <div class="d-flex align-items-center gap-2">
                                            <small class="fs-4">$<%= price %></small>
                                         
                                        </div>
                                        
                                        <div class="d-flex justify-content-center gap-1 btn__comprar">
                                            <button class="btn btn-dark">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        <%- include('partials/footer') %>

            <!-- AOS -->
            <script>
                AOS.init();
            </script>

    </body>

</html>